body{margin:0;padding:0;font-family:"Palatino Linotype",Georgia,"Times New Roman",serif}
section{width:800px;margin:0 auto}
table{border-collapse:collapse}
h1,h2,h3,h4{font-variant:small-caps;margin:.5ex auto}
div{vertical-align:top}
p{margin:1ex 0}
map{display:block}
g{pointer-events:all;opacity:.33}
g:hover{opacity:.66}
g.active{opacity:1}
image{pointer-events:none}
.st0{fill:#E1A780}
.st1{fill:#E5C98C}
.st2{fill:#F0D2BD}
.st3{fill:#F2E3C5}
.st4{fill:#C9D08A}
.st5{fill:#CFDADA}
.st6{fill:#A2B7B9}
.st7{fill:#DADFC2}